.publication_list {

  article {

    @extend .col-xs-12;
    @extend .col-md-4;

    padding: $spacing / 2;

    & > .text {
      @extend .col-xs-12;
      @extend .col-xs-7;
      text-align: left;

      position: relative;
      
      .download-button {
        position: absolute;
        bottom: 0;
        left: $spacing / 2;
      }

      footer {
        position: absolute;
        bottom: 0;
        padding: 0 $spacing / 2;

        height: $spacing !important;
        font-size: $font-xs;

      }
    }

    & > div {
      height: auto;
      @media screen and (min-width:768px) {
        height: $spacing * 7;
      }
    }
    & > a > div {
      height: $spacing * 7;
    }
    & > div,
    & > a > div {

      
      height: $spacing * 7;

      footer {
        position: relative;
        font-size: $font-xxs !important;
        // text-align: left;
        padding: 0 $spacing / 2;
        // color: $neutral_medium;
        // position: relative;
      }
    }

    & > a > [image-frame] {
      @extend .col-xs-12;
      @extend .col-md-5;
    }

    .publication-info {

      font-size: $font-s;
      // text-align: left;
      // height: $spacing * 2;

      .publication-year {
        margin-top: $spacing / 2;
      }

    }
  }
}
