.section-menu {

  @extend .container-fluid;
  height: auto;

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  ul {

    @extend .container;
    height: 100%;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-direction: column;
    justify-content: center;

    @media screen and ( min-width: 768px ) {
      flex-direction: row;
      justify-content: space-around;
    }

    // justify-content: center;


    li {

      height: 100%;

      padding: $spacing / 4;

      @media screen and (min-width:992px) {
        padding: $spacing $spacing * 1.5;
      }
      @media screen and (min-width:1170px) {
        padding: $spacing / 2 $spacing * 2;
      }

      font-size: $font-mm;

      box-sizing: border-box;
      text-align: center;

      display: -webkit-flex;
      display: -ms-flex;
      display: flex;

      align-items: center;
      justify-content: center;


      &.active {
        background-color: $neutral_light;
      }
    }

  }

}
