.dynamic-content-area {

  height: 65vh;
  // overflow-y: auto;
  // overflow: hidden;
  padding: 0;
}

.dynamic_content-title {
  margin-top: $spacing*1.5;
  text-align: center;
}

.dynamic_component {
  min-height: $component_min_height;
  height: 100%;
  padding: 0;
}
