#microsite-sidebar {

  article {

    [image-frame] {
      height: $spacing * 4;
    }

    @media screen and (min-width:1024px) {
      [image-frame] {
        height: 20vh;
      }
    }

    padding: $spacing / 4;
    text-align: center;

  }

}
