@import "microsite-header";
@import "sections/microsite-menu-description";
@import "sections/microsite-intro";
@import "sections/microsite-events";
@import "sections/microsite-publications";
// @import "sections/microsite-cases";
@import "sections/microsite-members";
@import "sections/microsite-sidebar";

#microsite-header-image {
  @extend .row;
  height: $spacing * 15;
}

#microsite {

  padding-left: 0;
  padding-right: 0;

}


#microsite-dynamic_area {

  height: calc( 100vh - ( $spacing * 5 ) );

  & > * {
    width: 100%;
    height: 100%;
    display: block;
  }

  & > [image-frame],
  & > img {

    width: 100%;
    display: block;
    margin: $spacing 0;

  }

  iframe {
    height: 80vh;
    margin: $spacing 0;
  }

  p {

    &:first-child {
      margin-top: $spacing;
    }

    width: 60%;
    margin: 0 20%;
    padding: $spacing / 3;
    font-size: $font-l;

  }

}

// quizás eliminar:
#microsite-container {
  @extend .container-fluid;
}


#microsite-content,
#microsite-sidebar {
  height: calc( 100vh - 50px );
}


#microsite-content {

  @extend .col-md-9;
  @extend .col-lg-10;

  overflow-y: auto;

  padding-left: 0;
  padding-right: 0;

  section {

    @extend .col-xs-12;

    padding-left: 0;
    padding-right: 0;

    padding: $spacing;

    h1, h2 {
      text-align: center;
      margin: $spacing 0;
    }

    &:even {
      background-color: #eee;
    }
    &:even {
      background-color: #eaeaea;
    }

  }

}

#microsite-sidebar {
  @extend .col-md-3;
  @extend .col-lg-2;
}



footer {
  .place {
    font-size: $font-xs;
  }
}






#single-microsite {

  #microsite-cases-map,
  #post_list {
    float: left;
    height: 50vh;
  }

  #microsite-cases-map {

    @extend .col-md-4;
    // @extend .col-md-7;
    // @extend .col-lg-8;

  }

  #post_list {

    @extend .col-md-8;
    // @extend .col-md-5;
    // @extend .col-lg-4;

    overflow-y: auto;

    article.location_item {

      @extend .col-xs-4;

      padding: $spacing / 2 !important;
      box-sizing: border-box;
      display: block;
      border-bottom: 1px solid #eee;

      footer {
        display: block;

        @extend .row;

      }


      &.active {
        background-color: $color_main;
        * {
          color: white;
        }
      }
    }
  }
}
