/* HIC_AL: COLORES */

$link_dark: #000;
$link_light: #fff;

$neutral_darkest: #222;
$neutral_darker: #333;
$neutral_dark: #444;
$neutral_medium: #888;
$neutral_light: #bbb;

a {
   color: $link_dark;
}

$action_button_bg: #000;
$action_button_color: #fff;
