/* HIC_AL: COLORES */

a {
   color: #fff;
}

#site_header {

   a {
      color: #fff;
   }

   #mini_menu-container {
      background-color: #ccc;
   }
   #main_menu-container {
      background-color: #aaa;
   }

}
