@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$spacing: 30px;

$component_min_height: 35vh;

@import "reset";
@import "colores";

@import "utils/aspect_ratio";

@import "components/hic_al-shared";



@import "components/dynamic/shared";
@import "components/dynamic/text-box";
@import "components/dynamic/image-box";
@import "components/dynamic/embed-box";

@import "components/dynamic/section-menu";

@import "components/dynamic/calls-to-action";

@import "components/dynamic/site-section";

@import "components/dynamic/post-list";
@import "components/dynamic/post-grid";
@import "components/dynamic/post-map";
@import "components/dynamic/page-hierarchy";


@import "components/dynamic/solidarity_item";


@import "components/hic_al-header";
@import "components/hic_al-footer";

@import "components/hic_al-single";
@import "components/hic_al-page";

@import "components/hic_al-archive";
@import "components/hic_al-archive-search_form";

@import "components/hic_al-working_group";

@import "components/home/home-cover";
@import "components/home/home-menu";
@import "components/home/home-featured";
@import "components/home/home-activity";
@import "components/home/home-membership";
@import "components/home/home-working_groups";
@import "components/home/home-library";
@import "components/home/home-about_hic";


@import "components/shared/publication-list";
@import "components/shared/pagination-menu";
@import "components/shared/document-list";
@import "components/shared/post-slider";

@import "templates/author/author";

@import "templates/working_groups/working_groups";
@import "templates/library/library";
@import "templates/activity/activity";
@import "templates/microsite/microsite";
@import "templates/about_hic/about_hic";
@import "templates/membership/membership";
@import "templates/membership/membership-contributions-dashboard";
@import "templates/thematic_area/thematic_area";


main {

  min-height: 80vh;

  & > section {
    @extend .row;
  }

}
