#home-menu {

   @extend .container-fluid;

   padding: 0;

  background-color: #ddd;

   ul {
      // margin-top: $spacing;
   }

   .site-menu {
     li {
       * > div {
         display: block;
         height: auto;
         width: 100%;
       }
       a {
         display: block;
         height: auto;
       }
     }
   }



   li {


      @extend .col-xs-12;

      @media screen and (min-width:960px) {
         width: 20%;
      }


      height: $spacing * 11;
      padding-left: $spacing;
      padding-right: $spacing;

      text-align: center;

      [image-frame] {
         height: $spacing * 3;
      }

      // a {
      //   transition: color 0.4s ease-in-out;
      // }
      // &:hover {
      //   * { color: #ddd !important; }
      // }

      transition: background-color 0.4s ease-in-out;

      &:nth-child(1):hover {
        background: #e7b17a;
      }
      &:nth-child(2):hover {
        background: #eaa45d;
      }
      &:nth-child(3):hover {
        background: #df9f4f;
      }
      &:nth-child(4):hover {
        background: #ea8c18;
      }
      &:nth-child(5):hover {
        background: #d08232;
      }

	  }

}
