#home-menu {

   @extend .container-fluid;

   padding: 0;

  background-color: #ddd;

   ul {
      // margin-top: $spacing;
   }

   .site-menu {
     li {
       * > div {
         display: block;
         height: auto;
         width: 100%;
       }
       a {
         display: block;
         height: auto;
       }
     }
   }



   li {


      @extend .col-xs-12;

      @media screen and (min-width:960px) {
         width: 20%;
      }


      height: $spacing * 11;

      padding-left: $spacing;
      padding-right: $spacing;

      text-align: center;

      [image-frame] {
         height: $spacing * 3;
      }

      h4 {
        margin: $spacing / 2 0 !important;
      }

      // a {
      //   transition: color 0.4s ease-in-out;
      // }
      // &:hover {
      //   * { color: #ddd !important; }
      // }

      transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;


      &:nth-child(1):hover {
        background-color: $color_main_dark;
      }
      &:nth-child(2):hover {
        background-color: $neutral_darkest;
      }
      &:nth-child(3):hover {
        background-color: $color_main;
      }
      &:nth-child(4):hover {
        background-color: $neutral_darkest;
      }
      &:nth-child(5):hover {
        background-color: #4EC700;
      }

        &:even {
          background-color: $neutral_darkest;
        }
        &:odd {
          background-color: $neutral_dark;
        }
        &:hover {
          * {
            color: #fff !important;
          }
        }

	  }

}
