#home-featured {

   @extend .container;

   padding-top: $spacing * 3;
   padding-bottom: $spacing * 2;

   padding-left: 0;
   padding-right: 0;

   article {

      @extend .col-md-4;


      height: auto;

      [image-frame] {
        @extend .col-xs-3;
        height: $spacing * 3;
      }
      header, p {
        @extend .col-xs-9;
      }

      p {
        display: none;
      }


      @media screen and (max-width: 767px) {
        header {
          .post-type {
            margin-top: 0;
          }
           .title-container {
              h4 {
                font-size: $font-ms;
              }
           }
         }

        .article-footer {
          position: relative;
          padding: 0;
        }
      }

      @media screen and (min-width: 768px) {
        height: $spacing * 17.5;

        [image-frame],
        header, p {
          width: 100%;
        }

        p {
          display: block;
        }

        header {
           .title-container {

              min-height: $spacing * 2;
              height: auto;

              display: block;

              h4 {
                 margin: 0;
              }

           }
        }

        &>div {
          border: 1px solid $neutral_light;

          height: 100%;
        }

        [image-frame] {
           width: 100%;
           height: $spacing * 7;
           // position: absolute;
           top: 0;
        }

        .footer-container {
          width: 100%;
          padding: 0 $spacing;
          position: relative;
          footer {

            position: absolute;
            bottom: 0;
            left: 0;

          }
        }

      }

      padding: $spacing / 2;


      &>div>a {
         display: inline-block;
         height: 100%;
      }

      a > i {
         position: absolute;
         right: $spacing;
         top: $spacing * 5.5;
         font-size: $font-xxxl;
         color: white;
         font-weight: bold;
      }

      // text-align: left;
      h6, .author, .place, .date {
         font-size: $font-xs;
         color: $neutral_medium;
      }



      & > div > a {

         width: 100%;
         text-align: center;
         button {
            @extend .button-action;
            width: auto;
            min-width: 40%;
         }

      }

      header, p, footer {
         padding: $spacing / 6 $spacing / 2;
         text-align: left;
      }

      footer {

         width: 100%;

      }

   }

}
