#home-library{

  padding-left: $spacing / 2;
  padding-right: $spacing / 2;

   &>div>section {
      @extend .col-md-6;
      @extend .col-lg-3;
      @extend .border_light;
   }

#home-library-publications {
   // @extend .col-md-12;
   // @extend .col-lg-12;
   @extend .row;

   ul {

      article {

         @extend .col-xs-4;

         & > a > div {

           @extend .col-xs-8;

           height: $spacing * 6.5;
            position: relative;

           footer {
             // font-size: $font-xs;
             // text-align: left;
             padding: 0 $spacing / 2;
             // color: $neutral_medium;
             // position: relative;
           }
         }

         & > a > [image-frame] {
           @extend .col-xs-4;
            height: $spacing * 6;
         }

         .publication-info {
           font-size: $font-s;
           text-align: left;
           height: $spacing * 2;

           .publication-year {
             margin-top: $spacing / 2;
           }

         }
      }
   }

   footer {
      text-align: center;
   }
}

   #home-library-media_content,
   #home-library-infographics {

     @extend .more_link_footer;

   }

   #home-library-media_content {

      nav#multimedia > ul {
         li {

            @extend .col-xs-6;

            margin: 0;
            padding: 0;

            [image-frame] {
               height: $spacing * 2.5;
            }
         }
      }

      nav#redes > ul{
        padding: 0;
        li {
          text-align: center;
           @extend .col-xs-4;
           i,& > div {
              @extend .col-xs-12;
           }
           // float: left;
           // width: auto;
           padding: $spacing / 2;

        }
      }


   }

   #home-library-calls_to_action {
      @extend .col-md-6;
      article {
         @extend .col-md-6;

         @extend .framed_content;

         [image-frame] {
            height: $spacing * 6;
         }

         a > button {
            @extend .action_button;
         }

      }

   }
}
