#home-cover {

   @extend .container-fluid;

   width: 100vw;
   max-width: 100%;

   position: relative !important;
   height: $spacing * 15;

   padding: 0;

   * {
      color: white;
   }

   & > [image-frame] {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
   }

   .content,
   .presentation,
   .calls_to_action {
      height: 100%;
   }

   .content {
      max-width: 1600px;
      margin: 0 auto;
   }

   .presentation {

      @extend .col-md-5;
      @extend .col-md-offset-1;

      #branding{
         @extend .col-md-10;
         @extend .col-lg-9;
         &>div {
            height: $spacing * 6;
         }
         .logo {
            @extend .col-lg-5;
         }
         .text {
            @extend .col-lg-7;
         }
         h4 {
            font-style: italic;
         }
      }

      .description {
         @extend .col-xs-12;
      }

   }

   .calls_to_action {
      @extend .col-md-5;
      @extend .col-md-offset-1;

      text-align: center;
      padding-top: $spacing * 4.5;
      ul {
         margin: 0;
         padding: 0;
         height: $spacing * 6;
         display: block;
      }
      article {
         @extend .col-md-6;
         height: 100%;
         display: inline-block;
         padding: 0;
         &>*{
            position: absolute;
            left: 0;
         }
         h4 {
            bottom: $spacing * 1.5;
         }
         a {
            width: 100%;
            display: inline-block;
            bottom: 0;
            button {
               width: 80%;
               background-color: black;
               border: none;
               height:$spacing;
            }
         }
      }
   }

}
