#home-cover {

   @extend .container-fluid;

   width: 100vw;
   max-width: 100%;

   position: relative !important;
   height: $spacing * 15;

   padding: 0;

   text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

   * {
      color: white;
   }

   & > [image-frame] {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      filter: brightness(90%) contrast(80%);
   }

   .content,
   .presentation,
   .description-calls_to_action {
      height: 100%;
   }

   .content {
      max-width: 1600px;
      margin: 0 auto;
   }

   .presentation {

      @extend .col-md-5;
      @extend .col-md-offset-1;

      #branding{

         @extend .col-md-12;
         // @extend .col-lg-9;

         &>div {
            height: $spacing * 6;
         }
         .logo {
            @extend .col-md-5;
         }
         .text {
            @extend .col-md-7;
         }
         .text-2 {
            @extend .col-xs-12;
            margin-top: $spacing * 2;

            text-align: center;
            
            height: auto;
         }
         h2 {
            font-style: italic;
         }
      }

   }

   .description-calls_to_action {

     @extend .col-md-4;
     @extend .col-md-offset-1;
     // @extend .last;

      height: 100%;

     .description {
        @extend .col-xs-12;
        padding: $spacing;
        // background-color: $neutral_medium;
     }


     padding-left: 0 !important;
     padding-right: 0 !important;


      ul.calls_to_action {

        // height: 100%;

        text-align: center;
        // padding-top: $spacing * 4.5;
        margin: 0;
        padding: 0;

         height: $spacing * 4;

         display: block;

         article {
           @extend .col-md-6;
           height: 100%;
           display: inline-block;
           padding: 0;
           &>*{
             position: absolute;
             left: 0;
           }

           h4 {
             bottom: $spacing * 1.5;
           }

           a {
             width: 100%;
             display: inline-block;
             bottom: 0;

             button {
               @extend .button-action;
               @extend .bx-shw-2;
             }

           }
         }
      }
   }

}
