#home-working_groups {

  padding-left: 0;
  padding-right: 0;

  #home-working_groups-list {

     li {

        @extend .col-xs-12;
        @extend .col-md-4;

        @media screen and (min-width:1024px)
        {
          width: 20%;
        }

        padding: $spacing * 1;

        text-align: center;

        [image-frame] {
          height: $spacing * 4;
        }

     }

  }

}
