#home-membership {

   &>.row>section {
      @extend .border_light;
   }

   #home-membership-space {

      @extend .col-md-6;
      @extend .col-lg-8;

      // height: $spacing * 13.5;

      &>div{
         @extend .col-xs-6;
      }

      [image-frame] {
         height: 80%;
      }

      p {
         font-size: $font-l;
      }

   }
   #home-membership-hic {
      @extend .col-md-6;
      @extend .col-lg-4;

      // height: $spacing * 15;

      [image-frame] {
         height: 40%;
      }

      p {
         font-size: $font-m;
      }
   }

   #home-membership-member_invitation {

      // height: $spacing * 8;

      [image-frame] {
         @extend .col-xs-3;
         height: 100%;
      }
      .text {
         @extend .col-xs-9;
         p {
            font-size: $font-s;
         }
      }
   }

   #home-membership-peer_posts {
      @extend .col-md-6;
      @extend .col-lg-5;

      article {
         &>* {

         }
         footer {
            font-size: 12px;
            color: #444;
         }
         @extend .list-item;
      }
   }
   #home-membership-member_invitation {
      @extend .col-md-6;
      @extend .col-lg-7;
   }

}
