$font-xxs: 9px;
$font-xs: 10px;
$font-s: 12px;
$font-m: 15px;
$font-mm: 16px;
$font-ml: 19px;
$font-l: 23px;
$font-xl: 28px;
$font-xxl: 35px;
$font-xxxl: 45px;



.bx-shw-1 {
  box-shadow: 3px 3px 3px rgba( 0, 0, 0, 0.1 );
}

.bx-shw-2 {
  box-shadow: 3px 3px 3px rgba( 0, 0, 0, 0.3 );
}


html, body {

  overflow-x: hidden;

}





* {
  // outline: 1px solid rgba(200,230,255,0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  // outline: 1px solid rgba(200,230,255,0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
b {
  font-weight: 500;
}


body, ul, li {
  margin: 0;
  padding: 0;
}


.button-action {

  width: 80%;
  // height:$spacing;
  background-color: $color_complementary;
  color: black;
  // background-color: black;
  // color: white;
  border: none;
  @extend .bx-shw-1;
  padding: $spacing / 4;
  box-sizing: border-box;
  height: auto;

}


.link-button {

  // position: absolute;
  //
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  background: none;
  //
  // width: 56px;
  height: 56px;

  // top: 8px;
  // right: 8px;

  font-size: 40px;

  color: $neutral_light;

}




.border_light {
  border: 1px solid $neutral_light;
}




.header-bar {

    padding: $spacing / 4;

    background-color: $neutral_medium;
    color: #fff;

    text-align: center;

}


main > h3 {
  @extend .container;
  margin-bottom: 0;
}
main > h3,
main > section > h3 {

  @extend .header-bar;

}

main > article,
main > section {

  padding: $spacing / 2;
  @extend .row;
  @extend .container;
  margin: 0 auto;

  footer {
    // padding: 0 $spacing / 2;
  }

  &>h1,
  .section-title {
    text-align: center;
  }

}

main > section > section {

  // @extend .border_light;
  margin-bottom: $spacing;

  &>h4 {
    margin-top: 0;
    margin-bottom: $spacing / 2;

    padding: $spacing / 4;

    background-color: $neutral_dark;
    color: #fff;

    text-align: center;
  }

  footer {
    text-align: center;
  }

}



.action_button {

  @extend .col-xs-12;

  padding: $spacing / 4;
  border: none;
  background-color: $color_complementary_dark;
  color: $action_button_color;

  text-align: center;

}

.more_link_button {

  @extend .col-xs-12;

  padding: 0 $spacing / 2;
  margin: $spacing / 2 0;

  border: none;
  border-top: 1px solid $neutral_light;
  border-bottom: 1px solid $neutral_light;

  background-color: #fff;
  text-align: center;

  font-size: $font-s;

}


.framed_content {

  &, &>div {
    border: 2px solid #ddd;
  }

  padding: 2px;

}



.page {

  @extend .container;
  padding: $spacing * 2;

  h1 {
    margin-bottom: $spacing * (2/3) !important;
  }

  p {
    font-size: $font-m;
  }

}

.more_link_footer {


  &:after {
    display: block;
    content: '';
    // padding: $spacing;
    height: $spacing;
    clear: both;
  }

  &>footer {
    // position: absolute;
    bottom: 0;
    width: 100%;
  }

}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main > article {
  @extend .page;
  // @extend .row;
}


main > section,
main > section > .row > section,
main > .row > section {

  &>h4 {
    margin: 0;
    padding: $spacing / 4 0;
    background-color: $neutral_dark;
    color: #fff;

    text-align: center;
  }

}


.article-footer {

  width: 100%;

  position: absolute;
  // bottom: $spacing;
  bottom: 0;
  left: 0;

  font-size: $font-xs;
  color: $neutral_medium;

  padding: $spacing / 2 0;


  & > .info > div {
    padding: 0 $spacing / 2;
    @extend .col-xs-6;
  }
  & > .info > div:last-child {
    text-align: right;
  }

  color: $neutral_medium;

  font-size: $font-xs;

  .info {

    @extend .col-xs-12;

    padding: 0;

    & > div {

      &.author {
        text-align: left;
      }
      &.place-date {
        text-align: right;
      }

      font-size: $font-xs;

      @extend .col-xs-6;
      padding: 5px 0 4px;
      line-height: 1;

      height: auto;
      display: block;

    }

    box-sizing: border-box;
    // height: $spacing;

    // display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

  }


  &>ul {

    @extend .col-xs-12;

    padding: $spacing / 4 0;


    li {

      width: auto;
      padding: 2px 4px;

      margin-right: $spacing/4;
      float: left;
      // background-color: $color_main;
      border: 1px solid $neutral_light;
      border-radius: 3px;

      // a { color: white; }

      transition: background-color 0.2s ease-in-out, font-weight 0.2s ease-in-out;

      &:hover {
        background-color: $neutral_medium;
        // font-weight: bold;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }

  }


}



article > a:hover {
  color: black;
  text-decoration: none;
  h5, .title {
    text-decoration: underline;
  }
}

.search-highlight {
  background-color: $color_main;
  color: #fff;
  // padding-left: 2px;
  // padding-right: 2px;
}


[image-frame] {
  min-height: $spacing * 3;
}


.article-cover-photo {
  height: 50vh;
}



a {
  color: #222;
  text-decoration: none !important;

  transition: color 0.3s;

  &:visited,
  &:active,
  &:focus {
    color: #000;
  }
}






/* typography */

.font-xxs { font-size: $font-xxs; }
.font-xs { font-size: $font-xs; }
.font-s { font-size: $font-s; }
.font-m { font-size: $font-m; }
.font-l { font-size: $font-l; }
.font-xl { font-size: $font-xl; }
.font-xxl { font-size: $font-xxl; }
.font-xxxl { font-size: $font-xxxl; }




.share-content {

  width: auto !important;

  float: right;

  text-align: right;

  padding: 0;

  padding-bottom: $spacing;


  .title, ul {
    width: auto !important;
    float: left;
  }
  .title {
    padding-right: $spacing;
    color: $neutral_darker;
  }


  & > * {

    width: auto !important;
    text-align: right;

    li {

      float: left;

      a {

        height: auto !important;
        @extend .col-xs-12;
        padding: 0 !important;

        &:hover {
          color: $color_main;
        }

        i {
          font-size: $spacing / 1.5;
          width: 100%;
          height: $spacing / 1.5;
        }
        span {
          height: $spacing / 2;
          font-size: $font-xxs;
          color: $neutral_medium;
          line-height: 1;
          padding: 0;
        }

      }
    }
  }

}



.single {
  &.working_group,
  &.thematic_area {
    [image-frame] {
      height: $spacing * 4;
    }

  }
}






.dynamic-content-area  {

  // overflow-y: auto;
  // overflow-x: hidden;

  height: auto !important;

  padding-bottom: $spacing * 3;


}

.dynamic-content  {

  clear: both;
  display: block;
  width: 100%;
  height: auto;
  padding: $spacing;

}


.gallery {

  margin: $spacing 0 !important;


  .gallery-item {
    &,* {
      border: none !important;
      outline: none !important;
      padding: 0;
      margin: 0 !important;
    }
    a {
      &, img {

        width: 100%;
        height: 100%;

      }

    }
  }


}




#secondary_menu-container nav ul li,
#primary_menu-container nav > ul > li,
.site-menu li,
.description-calls_to_action,
#home-cover .presentation,
#microsite-calls_to_action,
[vcenter],
[v-center],
.vcenter,
.v-center,
[vcenter],
[v-center] {
  opacity: 0;
}




.gallery {
  .gallery-item {
    padding: $spacing / 8;
  }
  a {
    @extend .col-xs-12;
    @extend .ratio-square;
    display: block;
  }
}



.section_list {
  .featured-image {
    margin: $spacing 0;
  }
}
