article.page,
article.single {

  header {

    padding: $spacing 0;

    * {
    // .title {

      text-align: center;

    }

    .date {

      // text-align: center;

      font-size: $font-s;

      color: #888;

    }

  }


  .content {

    header {
      ul {
        margin: 0;
      }
      li {
        list-style: none !important;
      }
    }

    ul {

      margin-bottom: $spacing / 2;

      li {
        margin-left: $spacing / 2;
        list-style: disc;
        line-height: 1.5;
      }
    }

    p {
      line-height: 1.75;
      padding-bottom: $spacing / 2;
    }
    li, p {
      font-size: 16px;
    }
    @media screen and (min-width: 970px) {
      padding: $spacing $spacing * 2   ;
      li, p {
        font-size: 18px;
      }
    }

    @media screen and (min-width: 1170px) {
      padding: $spacing $spacing * 4 ;
      li, p {
        font-size: 20px;
      }
    }

    &>header {

      @extend .row;
      text-align: right;

      padding-top: 0;
      margin-bottom: $spacing;

    }

    iframe {
      width: 100%;
    }

  }

}
