$font-s: 12px;
$font-m: 15px;
$font-l: 18px;


main > section > h1 {

   background-color: $neutral_medium;
   color: #fff;

}

main > section {

   @extend .row;
   @extend .container;
   margin: 0 auto;

}


.list-item {

   height: $spacing * 2;

   & > div[image-frame] {
      @extend .col-xs-2;
      height: 100%;
   }
   & > div {
      @extend .col-xs-10;
   }

   margin-bottom: 2px;

}

.action_button {

      @extend .col-xs-12;

      padding: $spacing / 4;
      border: none;
      background-color: $action_button_bg;
      color: $action_button_color;

      text-align: center;

}

.more_link_button {

   @extend .col-xs-12;

   padding: $spacing / 4;
   border: none;
   background-color: #fff;
   text-align: center;

}


.framed_content {

   &, &>div {
      border: 2px solid #ddd;
   }

   padding: 2px;

}



.page {

   @extend .container;
   padding: $spacing * 2;

   h1 {
      margin-bottom: $spacing * (2/3) !important;
   }

   p {
      font-size: $font-m;
   }

}


main > article {
   @extend .page;
   // @extend .row;
}
