#home-activity {

   // @extend .container;

   .home-activity-content_list {
      @extend .col-md-4;

      article {

         @extend .list-item;

      }

      button {

         @extend .more_link_button;

      }

   }

   & > section {
      height: $spacing * 14;
   }

   #home-activity-news {

      .latest {
         @extend .col-md-8;

         &>div,
         &>section {
            @extend .col-md-6;
         }

         [image-frame]{
            height: $spacing * 6;
         }

      }


   }




   #home-activity-solidarity {
      ul {
         article {

            display: none;
            &:nth-child(1) {
               display: block;
            }

            height: 100%;

            & > div {
               @extend .col-md-12;
            }
            & > div[image-frame] {
               height: $spacing * 5;
            }

            margin-bottom: 2px;

         }

         button {
            @extend .col-xs-8;
            @extend .col-xs-offset-2;
            padding: $spacing / 4;
            border: none;
            background-color: #000;
            color: #fff;
            text-align: center;
         }

      }
   }


}
